<div class="d-flex flex-column bd-highlight flex-wrap mt-6 container center">
  <div class="row justify-content-around">
    <div class="col">
      <div class="dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          支出類別
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/filter?type=residentialProperty"><i class="fas fa-home">家居物業</i></a>
          <a class="dropdown-item" href="/filter?type=traffic"><i class="fas fa-shuttle-van">交通出行</i></a>
          <a class="dropdown-item" href="/filter?type=amusement"><i class="fas fa-grin-beam">休閒娛樂</i></a>
          <a class="dropdown-item" href="/filter?type=food"><i class="fas fa-utensils">餐飲食品</i></a>
          <a class="dropdown-item" href="/filter?type=other"><i class="fas fa-pen">其他</i></a>
        </div>
      </div>
    </div>
    <div class="col">
      <sapn class="total-amount" id="total-amount">
        總金額 {{ totalAmount }}
      </sapn>
    </div>
  </div>

  {{!-- <div class="row">
    <div class="col"> --}}
  <div class="container">
    <div class="list-group list-group-horizontal-sm list-group-flush">

      {{#each records}}
      <li class=" list-group-item" data-id=" {{@index}}">
        <div class="d-flex flex-row  justify-content-center bd-highlight mb-3">
          <div class="p-3 bd-highlight">
            <span class="category-icon">{{{this.icon}}}</span>
          </div>
          <div class="d-flex flex-column p-1 bd-highlight">
            <span class="list-name">{{this.title}}</span>
            <span class="list-date">{{this.date}}</span>
          </div>
          <div class="p-3 bd-highlight">
            <span class="list-amount"> {{this.amount}}</span>
          </div>
          <div class="d-flex flex-row p-3 bd-highlight">
            <div class="bd-highlight">
              <a role="button" class="btn btn-outline-secondary btn-sm" href="./record/{{ this._id }}/edit"><i
                  class="fas fa-edit"></i></a>
            </div>
            <div class="bd-highlight">
              <form action="/record/{{this._id}}/?_method=DELETE" method="POST" onsubmit="return confirm('確定要刪除嗎？')">
                <button type="submit" class="btn btn-outline-danger btn-sm">
                  <i class="fas fa-trash"></i>
                </button>
              </form>
            </div>
          </div>











        </div>


      </li>
      {{/each}}
    </div>
  </div>
  {{!-- </div>
  </div> --}}









  <a type="button" class="btn btn-primary" href="./record/new" role="button">新增支出</a>



</div>